<!-- //#ffc107; -->

<nav class="navbar navbar-expand-lg fixed-top" style="color:#320524;">
  <div class="container">
    <!-- Brand name and cart icon -->
    <a
      routerLinkActive="active"
      routerLink="/home"
      ariaCurrentWhenActive="page"
      class="navbar-brand"
      href="#"
      >CartShop</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            routerLink="/cart"
            ariaCurrentWhenActive="page"
            class="nav-link"
            href="#"
          >
            <i class="fas fa-shopping-cart"></i
            ><span class="totalItem">{{ totalItem }}</span>
          </a>
        </li>
      </ul>
      <!-- About, shop, contact and GitHub icons -->
      <ul class="navbar-nav" style="font-size: 1.2rem;">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            routerLink="/shop"
            ariaCurrentWhenActive="page"
            class="nav-link"
            href="#"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/terencebundela/E-Commerce-CartShop"
            class="nav-link"
          >
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
