<div class="background-image">
  <div
    class="main-content container-fluid w-75 mt-5 d-grid gap-3"
    style="font-family: 'Poppins', sans-serif"
  >
    <div class="row">
      <div class="col text-end">
        <h1 style="font-size: 2rem" class="fw-bolder">
          Welcome to <span class="text-danger">Our Wishing Bags</span>
        </h1>
      </div>

      <div class="container invisible">
        <img src="assets/shopping icon.svg" alt="shopping Icon" width="350" />
      </div>
      <div
        class="home-image col d-flex justify-content-center align-items-center position-absolute top-10 start-0"
      >
        <img
          class="shop-img"
          src="assets/shopping-image.jpg"
          alt="Shop-Now Image"
          height="80%"
          width="100%"
        />
        <!-- <img class="d-none" src="assets/pexels-andrea-piacquadio-3775120-removebg-preview.png" alt="shopping girl" /> -->
      </div>

      <div class="row w-50">
        <div class="col app-description">
          <h1 class="fs-5 text-dark">
            Your one-stop solution for all your shopping needs! Whether you're
            looking for groceries, electronics, fashion, or anything in between,
            we've got you covered. Our user-friendly app makes it easy to browse
            and purchase products from your favorite brands and local stores.
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btns col d-flex gap-4 col-6">
        <button
          routerLinkActive="active"
          routerLink="/shop"
          ariaCurrentWhenActive="page"
          class="btn btn-dark col-5 col-md-4"
        >
          Shop Now
        </button>
        <button class="btn btn-dark col-5 col-md-4">About</button>
      </div>
    </div>
  </div>
</div>
